{% extends "base.html" %}

{% block content %}
    <div class="row"  style="padding-top: 2.5%">
        <div class="mb-4 col-md-8">
            <h2>Club of Programmers IIT (BHU) Varanasi</h2>

            <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/logo.jpg?alt=media&token=d6f4c531-bec6-483e-83b3-166861c19d35" style="border-radius:5%; max-width: 40%; margin-bottom: 5%">

            <p>
                In this age of increasing automation, programming is not only limited to computer science and related
                fields.
                Every competent engineer needs to know how to program. This makes Club of Programmers one of the most
                important
                clubs in the institute.
            </p>
            <p>
                Club of Programmers (or better known as COPS) understands this responsibility and plays a crucial part
                in
                maintaining the coding culture in the institute. Introductory workshops are held for freshers to
                introduce
                them
                to the various facets of programming. Regular competitions are held for the general student body to test
                and
                sharpen their programming skills. COPS also has an essential role in the successful conduction of
                Technex,
                the
                institute’s techno-management festival. ICM Technex event organised by COPS attracts the maximum
                participation
                in Technex.
            </p>
            <p>
                Although the club has been functioning quite well as compared to other clubs, still a lot needs to be
                done.
                Some
                great initiatives were taken by the current secretaries, including the formation of smaller groups
                focussed
                on
                specific areas (competitive programming group, development group and machine learning group) and the
                fresher’s
                mentorship program. Still there are lot of things that the club can improve upon. We hope that we are
                able
                to
                take this momentum forward.
            </p>
            <a href="/">Go back home</a>
        </div>
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
        
