{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}

    <h2 style="padding-top: 2.5%; padding-bottom: 2.5%;">Current Secretaries</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/govinda_totla.jpg" %}" alt="Govinda Totla"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Govinda Totla
                    </h4>
                    <p class="card-text">CP me master hai. Blue stacks me intern. POTW banata hai</p>
                    <a href="https://www.facebook.com/govinda.totla.1">
                        <i class="fa fa-facebook-official" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/akshay_sharma.jpg" %}" alt="Akshay Sharma"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Akshay Sharma
                    </h4>
                    <p class="card-text">Thodi thodi dev ati hai. GSOC laga hai is saal</p>
                    <a href="https://github.com/AKS1996">
                        <i class="fa fa-github-alt" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/abhishek_sharma.jpg" %}" alt="abhishek Sharma"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Abhishek Sharma
                    </h4>
                    <p class="card-text">ML ati hai. Pointer sahi hai. Intern IIIT-H</p>
                    <a href="https://github.com/abhishek0318">
                        <i class="fa fa-github-alt" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="padding-top: 2.5%; padding-bottom: 2.5%;">Past Secretaries</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/kartik_kumar.jpg" %}" alt="Kartik Kumar"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Kartik Kumar
                    </h4>
                    <p class="card-text">Senior</p>
                    <a href="https://www.facebook.com/kkumar.poo">
                        <i class="fa fa-facebook-official" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/pranjal_jain.jpg" %}" alt="Pranjal Jain"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Pranjal Jain
                    </h4>
                    <p class="card-text">Senior</p>
                    <a href="https://www.facebook.com/praran26">
                        <i class="fa fa-facebook-official" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="height: 5%"
                                 src="{% static "images/members/deeksha_kourav.jpg" %}" alt="Deeksha Kaurav"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        Deeksha Kaurav
                    </h4>
                    <p class="card-text">Senior</p>
                    <a href="https://www.facebook.com/deeksha.kaurav">
                        <i class="fa fa-facebook-official" style="font-size:36px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
        
