{% extends "base.html" %}

{% block content %}
    <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Posts Home </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Posts Page 1</li>
      </ol>

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {#  Add posts by reading the contents of `posts` folder  #}
            {%  for post in list_of_posts %}

              <!-- Blog Post -->
              <div class="card mb-4">
                <div style="width: 40%">
                   <img class="card-img-top" style="max-height: 100%;max-width: 100%;" src="{{ post.3 }}">
                </div>
                <div class="card-body">
                  <h2 class="card-title">{{ post.0 }}</h2>
                  <p class="card-text">
                      {% for tag in post.2 %}
                          <a href="#">#{{ tag }}</a>
                      {% endfor %}
                  </p>
                  <a href="/markdown/?id=posts/{{ post.5 }}" class="btn btn-primary">Read More</a>
                </div>
                <div class="card-footer text-muted">
                  Posted on {{ post.4 }} by
                  <a href="/contact">{{ post.1 }}</a>
                </div>
              </div>

            {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

{% endblock %}
