{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="List of COPS Projects">
		<meta name="author" content="Shivansh Saini">

		<title>COPS Projects</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
		<link href="{% static 'vendors/chosen/chosen.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'vendors/noUiSlider/nouislider.min.css' %}">
		<link href="{% static 'css/projects-style.css' %}" rel="stylesheet">
	</head>
	<body class="h-100 m-0 bg-light">
		<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-success shadow-sm">
			<a class="navbar-brand" href="#">COPS</a>

			<div class="navbar-nav">
				<div class="navbar-collapse offcanvas-collapse d-md-inline-flex nav-pills text-center mr-auto bg-success" id="navSidebar">
				
					<a class="nav-item nav-link" href="#">Home</a>
					<a class="nav-item nav-link" href="#">Blogs</a>
					<a class="nav-item nav-link active" href="#">Projects <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="#">Timeline</a>

				</div>

				<form class="form-inline" id="projectSearchForm" method="GET" action="">
					<div class="dropdown d-inline-flex">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="button" class="btn btn-default dropdown-toggle d-none" data-toggle="dropdown" data-target="#advancedSearch">
								</button>
							</div>
							<div class="dropdown-menu w-100 my-0 px-3 py-1 shadow" id="advancedSearch" style="position: absolute;">
								<div class="form-horizontal" role="form">
									<div class="form-group">
										<label for="tags">Select tags:</label>
										<select class="form-control selectMultiple" name="tags" id="tagSelect" data-placeholder="Choose your tags" multiple>
											<optgroup label="Technology">
												<option value="dev">Dev</option>
												<option value="webDev">Web Dev</option>
												<option value="andDev">Android Dev</option>
												<option value="deepLearn">Deep Learning</option>
												<option value="cp">CP</option>
											</optgroup>
											<optgroup label="Featured in">
												<option value="dihProject">DIH Project</option>
												<option value="gsoc">Google Summer of Code</option>
											</optgroup>
										</select>
									</div>
									<div class="form-group mb-5" id="starsRangeGroup">
										<span>Choose range of stars:</span>
										<div class="noUi-target noUi-ltr noUi-horizontal m-3" id="starsRange">
										</div>
									</div>
									<div class="form-group mt-3 d-sm-none">
										<input type="search" name="search" class="form-control" id="menuSearchBar" placeholder="Search for..."/>
										<input type="submit" value="Search!" class="form-control mt-2" />
									</div>
								</div>
							</div>
						<input type="search" name="search" class="form-control d-none d-sm-inline-block" id="navSearchBar" data-toggle="dropdown" data-target="#advancedSearch" placeholder="Search for..." />
						<div class="input-group-append">
							<button class="btn btn-success btn-circle text-white" type="button" id="navSearchButton">
							<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
					</div>
				</form>
			</div>
			<button class="navbar-toggler sidebarToggler" type="button" aria-label="Toggle Navigation Menu" data-toggle="offcanvas" data-target="#navSidebar">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

		<main role="main" class="container animate bg-white rounded box-shadow" id="content">
			<!-- <div class="p-3 my-3" id="featuredProjects">
				<h6 class="border-bottom border-gray pb-2 mb-0">Featured Projects</h6>
				<div id="featuredProjectsCarousel" class="pt-3 carousel slide" data-ride="carousel" data-interval="3000">
					<ol class="carousel-indicators animate">
					</ol>
					<div class="carousel-inner">
					</div>
					<a class="carousel-control-prev animate" href="#featuredProjectsCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next animate" href="#featuredProjectsCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<hr /> -->
			{#  Add projects by reading the contents of `projects` folder  #}
			<div class="p-3 my-3 row" id="listProjects">
				{% for project in list_of_projects %}
				<div class="col-3 mb-5 p-0 card card-project">
					<a href="{% url 'show-markdown' %}?id=projects/{{ project.0|urlencode }}.md" data-toggle="modal" data-target="#projectDetailsModal">
						<img class="card-img-top" src="{{ project.3 }}" />
						<div class="card-body">
							<h5 class="card-title">{{ project.0 }}</h5>
							<p class="card-text">
								{{ project.1 }}
								<br />
								{% for tag in project.2 %}
								#{{tag}} 
								{% endfor %}
							</p>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</main>

		<!-- Project Modal -->
		<div class="modal fade" id="projectDetailsModal" tabindex="-1" role="dialog" aria-labelledby="projectTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="projectTitle">Title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="projectDetails">
		        {{ data }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Load Javascripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js" type="text/javascript"></script>
		<script src="{% static 'vendors/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'vendors/noUiSlider/nouislider.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/project-setup.js' %}" type="text/javascript"></script>
		<script type="text/javascript">
			setup()
			$("#advancedSearch").click(function(e) {
				e.stopPropagation()
			})
			$("#navSearchButton").click(function(e) {
				if ($("#navSearchBar").is(':hidden')) {
					e.stopPropagation()
					$("#navSearchBar").dropdown("toggle")
				} else {
		  			$('#projectSearchForm').submit()
		  		}
			})
			$('#projectSearchForm').on('submit', function(e) {
				if ($("#navSearchBar").is(':hidden')) {
					$("#navSearchBar").attr('disabled', 'disabled')
				} else {
					$("#menuSearchBar").attr('disabled', 'disabled')
				}
			})
			$("select").chosen({
				disable_search_threshold: 5,
				search_contains: true,
				inherit_select_classes: true,
				no_results_text: "Oops, nothing found!",
				include_group_label_in_selected: true
			})
			var starSlider = $("#starsRange")[0]
			var formatter = {
				to: function(value) {
					return String(value).split(".", 1) + " <i class=\"fas fa-star text-warning\"></i>"
				},
				from: function(value) {
					return value.replace(',-', '')
				}
			}
			noUiSlider.create(starSlider, {
				start: [0, 1000],
				range: {
					"min": [0],
					"max": [100]
				},
				pips: {
					mode: "positions",
					values: [0, 25, 50, 75, 100],
					density: 4,
					stepped: true
				},
				tooltips: [ formatter, formatter ],
				step: 1,
				connect: true,
				margin: 10
			})
		  $('[data-toggle="offcanvas"]').on('click', function () {
		    $('.offcanvas-collapse').toggleClass('open')
		  })

		  $('#projectDetailsModal').on('show.bs.modal', function(e) {
		  	var card = $(e.relatedTarget)
		  	$(this).find('#projectTitle').html($(card).find('.card-title').html())
		  	$(this).find('#projectDetails').load(card.attr('href'))
		  })
		</script>
	</body>
</html>