<!DOCTYPE html>
<html>
	<head>
		<title>Timeline - Free Responsive Template</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/bootstrap.min.css?alt=media&token=13c69f8e-23ae-4fad-8287-861f0d61a984">
        <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/font-awesome.min.css?alt=media&token=ddcb4c2b-c6e5-4e65-85b0-6a78fec28da1">
        <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/templatemo-style.css?alt=media&token=6311d753-2851-4de5-bfc8-d024338bfe52">

        <!-- JavaScripts -->
        <script src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/jquery-1.10.2.min.js?alt=media&token=9899dadf-704b-4b19-bbce-14cc58179396"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/modernizr.min.js?alt=media&token=a75b66b4-fc75-4947-9dd7-2e59c9b78e49"></script>

	</head>
	<body>
    
    <header class="site-header" id="top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href="#templatemo">
                                <p>C<em>ops</em></p>
                            </a>
                        </div>  
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><span></span><a href="#top" class="home">Home</a></li>
                            <li><span></span><a href="#first-section" class="about">Services</a></li>
                            <li><span></span><a href="#second-section" class="portfolio">Projects</a></li>
                            <li><span></span><a href="#map" class="map">Location</a></li>
                            <li><span></span><a href="#third-section" class="contact">Contact</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </nav>
    </header>

    <div id="big-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <img id="computer" src="images/computer1.jpg" alt="computer">
                </div>
            </div>
        </div>               
    </div>


    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Timeline</h4>
                    <p>What we have done</p>
                </div>   
            </div>
        </div>
    </div>



    <div id="second-section2">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <section id="cd-timeline-2" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="images/project-1.jpg" alt="">
                                <div class="project-content">
                                    <h2>Donec at scelerisque</h2>
                                    <span>18 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="images/project-2.jpg" alt="">
                                <div class="project-content">
                                    <h2>Nullam hendrerit ultrices</h2>
                                    <span>12 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="images/project-3.jpg" alt="">
                                <div class="project-content">
                                    <h2>Quisque mollis diam</h2>
                                    <span>10 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="images/project-4.jpg" alt="">
                                <div class="project-content">
                                    <h2>Etiam a ultricies</h2>
                                    <span>30 November 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="images/project-5.jpg" alt="">
                                <div class="project-content">
                                    <h2>Curabitur interdum</h2>
                                    <span>22 November 2084</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="copyright-text">
                                <p>Copyright &copy; <a href="#">All rights reserved by COPS</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="back-to-top">
                                <a href="#top">Back To Top</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </footer>

    
		<!-- Javascripts -->

		<script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/bootstrap.min.js?alt=media&token=ba259738-151a-4ca7-88c8-177421d837bf"></script>
		<script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/custom.js?alt=media&token=cef55bbe-5266-41c5-9938-6123fdeb0f3f"></script>

	</body>
</html>