body {
  padding-top: 56px;
}

.noUi-target {
  width: 100%;
}

.navbar {
  height: 56px;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offcanvas-collapse {
    z-index: 5;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 100%;
    width: 25%;
    overflow-y: auto;
    visibility: hidden;
    transition-property: left, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
  .offcanvas-collapse.open {
    left: 75%;
    visibility: visible;
  }
}

@media (max-width: 576px) {
  #navSearchButton {
    border-radius: 20px;
  }
  .dropdown .dropdown-menu {
    width: 100vw!important;
    margin-left: calc(-50vw + 14px);
  }
  .noUi-target {
    width: auto;
  }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #248c3b;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
  background-color: #248c3b;
}

#advancedSearch > div {
  padding: 0;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.selectMultiple {
  min-width: 100%;
  border: none;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.carousel .carousel-indicators,
.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-caption {
  opacity: 0;
}
.carousel:hover .carousel-indicators,
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-caption {
  opacity: 1;
}

.carousel .carousel-caption {
  left: 0;
  width: 100%;
  background: url("back.png");
}

.carousel-item .img-fluid {
  width: 100%;
  height: auto;

  max-height: 30rem;
  min-width: auto;
}

.carousel-item a {
  display: block;
  width:100%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.42857;
}

#listProjects > div {
  margin-right: 6.25%;
}

#listProjects > div:nth-child(3n+1) {
  margin-left: 6.25%;
}

div.card-body {
  text-align: center;
}

.card-title {
  color: black;
}
