<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/team.css?alt=media&token=6c5b36c7-f2d9-4546-b4fa-9f82de4dbdbb">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        
    </head>
    <body>
    <div class="container-fluid team_page">
        <div class="row" style="background-color:black">
            <div class="col-2">
                    <a href="#"><i class="fas fa-angle-left fa-2x" style="color:white; margin-left:1%;"></i></a>
                    <a href="#"><i class="fas fa-home fa-2x" style="color:white; margin-top: 1%; margin-bottom: 1%;"></i></a>
            </div>
        </div>
        <div class="main_team_area m-t-3">
            <div class="head_title m-y-4">
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/12410543_464538130418765_4598261607053017239_n.png?_nc_cat=104&oh=717ba803853809602dbe7d73b4a5d9f2&oe=5C1489DD" height="100vh" width="100vh">
                    </div>
                    <div class="col-md-4 col-xs-8 col-md-offset-6">
                        <h1 class="display-1 align-middle">The Team</h1>
                    </div>
                </div>
            </div>

            <hr class="line_style">

            <div class="container" style="margin-top: 4%;">
            <div class="row">
                <div class="col-md-2 col-xs-12 col-md-offset-3">
                    <div class="single_team m-t-2" id="mem1">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/IMG-20180513-WA0006%20-%20AKSHAY%20SHARMA.jpg?alt=media&token=a9940ba4-9d2a-434a-8cef-637419c592ab" alt="" />
                        <div class="single_team_text text-center" id="memtext1">
                            <h6>Akshay Sharma</h6>
                            <p>Joint Secretary</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->
                
                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/govinda_totla.jpg?alt=media&token=366ee9fa-eff3-4469-865b-8ac32156eb0e" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>Govinda Totla</h6>
                            <p>General Secretary</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem3">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/2018-01-01-05-01-23%20-%20ABHISHEK%20SHARMA%205-Yr%20IMD%20Math.%20_%20Computing%2C%20IIT%20(BHU).jpg?alt=media&token=a2ead577-7198-47d9-9684-459dc621beb5" alt="" />
                        <div class="single_team_text text-center" id="memtext3">
                            <h6>Abhishek Sharma</h6>
                            <p>Joint Secretary</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->
                
                <!-- End of col-md-4 -->
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <div class="single_team m-t-2" id="mem1">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext1">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->
                
                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem3">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext3">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
                <!-- End of col-md-4 -->
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <div class="single_team m-t-2" id="mem1">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext1">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->
                
                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem3">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext3">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div><!-- End of col-md-4 -->

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-xs-12">
                    <div class="single_team  m-t-2" id="mem2">
                        <div class="team_socail_area text-center m-b-1">
                            <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                            <a href=""><i class="fab fa-github fa-lg"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fab fa-google-plus fa-lg"></i></a>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/Vaibhav.jpg?alt=media&token=127db1a1-2f8a-4135-9ccb-1ce5835f4550" alt="" />
                        <div class="single_team_text text-center" id="memtext2">
                            <h6>John Doe</h6>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
                <!-- End of col-md-4 -->
            </div>

            </div>
        </div><!-- End of main Team area -->
    </div><!-- End of container -->
    </body>
</html>
